<footer id="main_footer">
  <p class="copyright">&copy; 2019 ESPN</p>
  <nav>
    <a href="https://www.linkedin.com/in/joe-walker-4a353b101/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/jpdwalker" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://www.facebook.com/joe.walker.543" target="_blank"><i class="fab fa-facebook-square"></i></a>
  </nav>
</footer>
